<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    
    <title>node.js training | Four Kitchens</title>

    <meta name="description" content="node.js training slides built with love by the Web Chefs at Four Kitchens.">
    <meta name="author" content="Four Kitchens">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='$itext/css'>

    <link rel="favicon" href="favicon.ico">
    
    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="css/theme/fourkitchens.css" >

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/github.css">

    <script>
      // If the query includes 'print-pdf' we'll use the PDF print sheet
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  
  <body>
    
    <div class="reveal">
      <!-- Used to fade in a background when a specific slide state is reached -->
      <div class="state-background"></div>

      <div class="slides">
        <section data-markdown>
          ## Node.js training.
        </section>
        <section data-markdown>
          ## Hello Class
          ```javascript
          console.log('Welcome!');
          ```
        </section>
        <section data-markdown>
          ## Who we are

          ### Elliott Foster

          * https://twitter.com/elliotttf

          ### Mike Minecki

          * https://twitter.com/mirzu
        </section>

        <section data-markdown>
          ## What you'll walk away with

          * Callbacks!
            * You'll know why that's funny
          * Some more JS Chops
          * Some Async programming skillz
          * A small Socket.io app
          * A chance to use the Express Node.js framework.
          * A few strategies on how to work node into your Drupal projects.
        </section>
        <section data-markdown>
          ## Class outline.

          * Intro to node.js
          * Console.log
          * JS 101
          * Using Require() *NPM? & Modules*
          * Intro to Events
          * Database intro
          * Async programing
          * Socket.io
          * **Lunch**
          * Integrating with Drupal 1
          * Integrating with Drupal 2
        </section>
        <section data-markdown>
          ## What is node.js?
        </section>
        <section>
          <small>What is node.js?</small>
          <section data-markdown>
            ## From Nodejs.org

            <blockquote>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.
            </blockquote>
          </section>
          <section data-markdown>
            ### What Makes it
            ### *Fast and Scaleable?*

            * V8 Engine

            * Asynchronous libraries

            * Event Driven.
          </section>
          <section data-markdown>
            ## Why do we need another server side language/framework?
          </section>
          <section data-markdown>
            # PHP is slow.
          </section>
          <section data-markdown>
            ## What do you mean by slow?
          </section>
          <section data-markdown>
            ## We actually mean bad at handling concurency.
          </section>
          <section data-markdown>
            ### Why is PHP/Drupal bad at handling concurency?

            * Big memory foot print.
              * If you need to load 100Meg of Code to deliver 4 lines of JSON. . .
            * Everything happens in order.
              * You 100ms database call will hold up the execution of the enire process.
              * Your next 100ms call will do the same, etc.
              * Only after all the database calls have completed can we return the 4 lines of JSON.
          </section>
          <section data-markdown>
            ## In node:

            <blockquote>Everything happens in Parellel execpt for your code.</blockquote>
          </section>
          <section data-markdown>
            #huh?
          </section>
          <section data-markdown>
            ## Imagine a King with servants

            * Every morning the servants line up.
            * One at a time they come into his throne room.
            * They report on what they've done.
            * Sometimes the king gives them more to do.
            * Always one at a time, so the king can focus.
          </section>
          <section data-markdown>
            ## Code Please.

            <pre><code class="javascript">
              var fs = require('fs')
                , sys = require('sys');

              fs.readFile('treasure-chamber-report.txt', function(report) {
                sys.puts("oh, look at all my money: "+report);
              });

              fs.writeFile('letter-to-princess.txt', '...', function() {
                sys.puts("can't wait to hear back from her!");
              });
            </code></pre>
          </section>
          <section data-markdown>
            ### Explain the Code Please.

            * Code gives node 2 things to do.
            * Each callback gets fired one at a time
            * Until one callback is fired all others wait in line
          </section>
          <section data-markdown>
            ### However

            * We don't need to wait for the file being read, to write the file.
            * Both System IO calls are started independently.
          </section>
          <section data-markdown>
            ### Don't need to wait for one to finish before the next starts!
          </section>
          <section data-markdown>
            ## Why not write non-blocking/event-driven PHP

          </section>
          <section data-markdown>
            ## There are event driven Async PHP frameworks.

            For example: [PRADOTM](http://www.photon-project.com/)
          </section>
          <section data-markdown>
            ## Libraries.

            * PHP libraries are primarily blocking and not event driven.
            * Node.js libraries are almost all non-blocking and event driven.
          </section>
          <section data-markdown>
            ### What is it node.js good for

            * Rapid prototyping
            * Bursty load
            * API glue
            * Queue-ish stuff
            * "Real-time" applications
              * Easy example: chat
            * **Message passing!**
          </section>
          <section data-markdown>
            ### What is it node.js NOT good for

            * Web server
            * (Large) static assets
            * Complex systems (business logic)
            * Lots of processing - use C or PHP
          </section>
          <section data-markdown>
            ### What We've used it for

            * RSS Hub
            * Interactive game
            * Realtime video commenting
            * IRC Bot
            * Parsing HTML
          </section>
          <section data-markdown>
            ### What about the community?

            * Lots of Frameworks
            * Package manager that kicks butt
              * Over 16k packages
            * Very fast moving project
              * 63 Releases in the last year and half
            * Welcoming community
            * Used by big companies
            * Plays well with others
            * Drupal module
          </section>
          <section data-markdown>
            ## One more thing . . .
          </section>
          <section data-markdown>
            ## Share client and server side code.

            ![yeah](/slides/assets/img/glasses-off.gif)
          </section>
        </section>
        <section data-markdown>
          ## Lets get into it!

          ![Adventure Time](/slides/assets/img/adventuretime.jpeg)
        </section>
        <section data-markdown>
          ## Frustrated?

          * Who here has been confused, lost, or frustrated?
          * Raise your hand! It's ok to be confused, lost, or frustrated!
          * If you are lost tell us, it's normal and you're not slowing us down.
        </section>
        <section>
          <small>Your environment</small>
          <section data-markdown>
            ## Connecting to the server

            * SSH into the server from your local machine
              <pre><code class="no-highlight">
                $ ssh YOU@nodejs.4kclass.com
              </code></pre>
            * Pro-tip: You may want to keep two terminal sessions open to the server so
              you can edit files while running a node process or edit two files
              at once in different windows.
          </section>
          <section data-markdown>
            ## Editing files

            * Use your preferred editor on server
              (we like vim but won't judge if you use emacs -- but we can't help you either).
            * If you want to edit files locally, SFTP with the credentials you were provided
              <pre><code class="no-highlight">
                $ sftp YOU@nodejs.4kclass.com
              </code></pre>
          </section>
          <section data-markdown>
            ## File structure

            * All course code is located in
              <pre><code class="no-highlight">~/train-node</code></pre>
            * Familiarize yourself with the files and directories here,
              you'll be spending most of your time in the following directories:
              <pre><code class="no-highlight">
                ~/train-node/js101
                ~/train-node/exercises/drupal
                ~/train-node/exercises/server
              </code></pre>
          </section>
          <section data-markdown>
            ## Commands you'll be using

            * ```cp [src] [dst]``` - to copy a file
            * ```mv [src] [dst]``` - to move or rename a file
            * ```rm [file]``` - to delete a file
            * ```node [file]``` - to start a node process (or just ```node``` to
              use the node REPL shell).
            * ```CTRL+C``` - to stop a node process that does not automatically exit.

          </section>
        </section>
        <section data-markdown>
          ## ```console.log()```

          Same debugging tool you use in the browser.

          * Create your first app!
          * Make an app.js file in the _/console.log_ folder.
          * Add one line. . .

          <pre><code class="javascript">
            console.log('Mathamatical!');
          </code></pre>

          Now run it

          <pre><code class="no-highlight">
            $ node app
          </code></pre>
        </section>
        <section data-markdown>
          ![result](/slides/assets/img/consolelog.png)
        </section>
        <section data-markdown>
          ## JavaScript 101
        </section>
        <section>
          <small>JavaScript 101</small>
          <section data-markdown>
            ### Scope Example 1
            <pre><code class="javascript">
              var foo = 'kitteh';

              /**
               * This function alters the 'foo' variable that was
               * previously defined in the global scope.
               */
              var example = function() {
                foo = 'doggie';
              };

              console.log('Example 1: foo = ' + foo);
              example();
              console.log('Now foo = ' + foo);

              console.log("\n");
            </code></pre>

          </section>
          <section data-markdown>
            ### Scope: Global Variable Scope

            ![result](/slides/assets/img/scope1.png)
          </section>
          <section data-markdown>
            ### Scope: Local Variable Scope

            <pre><code class="javascript">
              /**
               * This function defines its own 'foo' variable that
               * will not alter the one defined in the global scope.
               */
              var example2 = function() {
                var foo = 'chupacabra';
                console.log("My foo = " + foo);
              };

              console.log('Example 2: foo = ' + foo);
              example2();
              console.log('Now foo = ' + foo);
            </code></pre>
          </section>
          <section data-markdown>
            ### Scope: Local Variable Scope

            ![result](/slides/assets/img/scope2.png)
          </section>
          <section data-markdown>
            ### Hoisting

            <pre><code class="javascript">
              /**
               * This function attempts to access a variable before
               * it is defined and illustrates hoisting.
               *
               * NOTE: if 'a' had not been defined within this scope,
               * attempting to access it would have thrown a fatal error.
               */
              var example3 = function() {
                console.log(a);
                var a = 1;
                console.log(a);
              };
            </code></pre>
          </section>
          <section data-markdown>
            ### Scope: Hoisting

            ![result](/slides/assets/img/scope3.png)
          </section>
          <section data-markdown>
            ## This

            <pre><code class="javascript">
              addHorn: function() {
                this.hasHorn = true;

                var countHorns = function() {
                  if (this.hasHorn) {
                    return 1;
                  }
                  return 0;
                };

              //  console.log('I have ' + countHorns() + ' horns.');
              }
            </code></pre>
          </section>
          <section data-markdown>
            ## This

            <pre><code class="javascript">
              addHorn: function() {
                var self = this;
                self.hasHorn = true;

                var countHorns = function() {
                  if (self.hasHorn) {
                    return 1;
                  }
                  return 0;
                };
              //  console.log('I have ' + countHorns() + ' horns.');
              }
            </code></pre>
          </section>
          <section data-markdown>
            ## This

            ![this](/slides/assets/img/this.png)
          </section>
        </section>
        <section data-markdown>
          ## Using ```require()```, NPM, and modules
        </section>
        <section>
          <small> Using require(), NPM, and modules </small>

          <section data-markdown>
            ## ```require()```

            Used to include built in libraries, libraries from package manager and local files.
          </section>
          <section data-markdown>
            ## ```require()``` for built in libraries.

            [List of libraries](http://nodejs.org/docs/latest/api/)

            <pre><code class="javascript">
              var http = require('http');
              http.createServer(function (req, res) {
                res.writeHead(200, {'Content-Type': 'text/plain'});
                res.end('Hello World\n');
              }).listen(1337, '127.0.0.1');
              console.log('Server running at http://127.0.0.1:1337/');
            </code></pre>

          </section>
          <section data-markdown>
            ### ```require()``` for built in libraries.

            * Set the variable ```http``` to the object returened by require.

            <pre><code class="javascript">var http = require('http');</code></pre>

            * Use the ```createServer``` function from the library we just loaded.

            <pre><code class="javascript">http.createServer(function (req, res) {</code></pre>

          </section>
          <section data-markdown>
            module_a.js

            <pre><code class="javascript">console.log('this is a');</pre></code>

            module_b.js

            <pre><code class="javascript">console.log(' this is b');</pre></code>

            main.js

            <pre><code class="javascript">
              require('module_a');
              require('module_b')
            </pre></code>

            ```$ node main.js```

          </section>
          <section data-markdown>
            ## Try it.
          
          </section>
          <section data-markdown>
            ### Use relative paths.

            <pre><code class="javascript">
              require('./module_a');
              require('./module_b')
            </pre></code>

            ```$ node main.js```
          </section>
          <section data-markdown>
            ### Exposing APIs

            * Three different possibilities
              1. module.exports
              2. exports
              3. Altering Prototypes.

          </section>
          <section data-markdown>
            #### ```module.exports``` exposes a root level class or object.

            <pre><code class="javascript">
              // world.js
              module.exports = world;

              var world = {};
              world.word = 'world';
            </code></pre>
          </section>
          <section data-markdown>
            #### ```exports``` exposes a namespaced class or object.


            <pre><code class="javascript">
              // hello.js
              exports.hello = word;

              function word() {
                return 'hello';
              }
            </code></pre>

          </section>
          <section data-markdown>
            #### Using the above.

            <pre><code class="javascript">
              var Hello = require('hello');
              var world = require('world');

              var begining = new Hello();
              var phase = begining.word() + ' ' + world.word;
            </code></pre>

          </section>
          <section>
            <h3> Try it</h3>

            <ul>
              <li class='fragment'>Didn't work?</li>
              <li class='fragment'>Don't forget the ./ when requiring local files</li>
            </ul>
            <pre class='fragment'><code>
              var Hello = require('./hello');
              var world = require('./world');
            </code></pre>
          </section>
          <section data-markdown>
            ## Where does ```require()``` look for files?

            * Core libraries
            * modules in the node_modules directory
            * locally defined modules _if the module is prefixed with a path_
              * Paths can be absolute, but this is highly discouraged, use the relative paths or package your own module.

            [the mystery explained](http://www.bennadel.com/blog/2169-Where-Does-Node-js-And-Require-Look-For-Modules-.htm)
          </section>
          <section>
            <h3>NPM</h3>

            <ul>
              <li class='fragment'>Node's Personal Manservant</li>
              <li class='fragment'>Collection of over 16k community built libraries</li>
              <li class='fragment'>Handles installation and dependency</li>
              <li class='fragment'>Everything from GPIO libraries to a few CMSs</li>
            </ul>
          </section>
          <section data-markdown>
            ## NPM Commands

            * npm install <module> - install module
              * add -g to install at the system level.
            * npm install --save <module> - installs module and adds it to your local package.json file.
            * npm install - installs everything from the local package.json file.
            * npm init - creates an empty package.json file
            * npm search - search for modules

            [NPM help (if --help is too old school for you.)](https://npmjs.org/doc/)
          </section>
          <section data-markdown>
            ## Try it

            npm init

            npm install colors

            npm install --save colors
            </section>
            <section data-markdown>
              <pre><code class="javascript">
                // colorsExample.js
                var colors = require('colors');

                console.log('hello'.green); // outputs green text
                console.log('i like cake and pies'.underline.red) // outputs red underlined text
                console.log('inverse the color'.inverse); // inverses the color
                console.log('OMG Rainbows!'.rainbow); // rainbow (ignores spaces)
              </code></pre>
            </section>
            <section data-markdown>
              ### Package.json

              <pre><code class="javascript">
                {
                  "author": "Four Kitchens <shout@fourkitchens.com> (http://fourkitchens.com/)",
                  "name": "npmExample",
                  "description": "An example from the world famous Four Kitchens Node.js training.",
                  "version": "0.0.1",
                  "homepage": "http://fourkitchens.com",
                  "repository": {
                    "type": "git",
                    "url": "git://github.com/fourkitchens/train-node.git"
                  },
                  "engines": {
                    "node": "~0.6.8"
                  },
                  "dependencies": {},
                  "devDependencies": {},
                  "optionalDependencies": {}
                }
              </code></pre>

              [package.json reference](http://package.json.jit.su/)
            </section>
        </section>
        <section data-markdown>
          ## Intro to events

          * Lots of node functions that emit events.
          * Eventually you'll write your own.

          [Events Explained.](http://howtonode.org/demystifying-events-in-node)
        </section>
        <section>
          <small>Intro to Events</small>
          <section data-markdown>
            ## Events Example
            <pre><code class="javascript">
              // basic imports
              var events = require('events');
              var util = require('util');

              function Poll(feed) {
                this.guids = [];
                this.feed = feed;
                this.poller = setInterval(_.bind(this.poll, this), 1000);
              };

              util.inherits(Poll, events.EventEmitter);

              Poll.prototype.getStories = function(callback) {

              // . . .

                if (newStories.length) {
                  self.emit('fed', null, data);
                }
              }
              exports.Poll = Poll;
            </code></pre>
          </section>
       </section>
       <section data-markdown>
         ## Asynchronous programming
       </section>
       <section>
          <small>Asynchronous programming</small>
          <section data-markdown>
            ## How to stop Code-blocking

            ```async/```

            ![log jam](/slides/assets/img/log_jam.jpg)
          </section>
          <section data-markdown>
            ## Syncrounous example

            Checkout the order of the log messages.

            <pre><code class="javascript">
              console.log("I'm going to read a file synchronously.");

              syncContents = fs.readFileSync(__filename);

              console.log("I'm done reading the file synchronously.");
              console.log('I read ' + syncContents.length + ' characters.');
              console.log("Now I'm ready to do the next thing.");
            </code></pre>
          </section>

          <section data-markdown>
            ## Asynchronous Example

            Now see how the log messages have changed.

            <pre><code class="javascript">
              console.log("I'm going to read a file asynchronously.");
              fs.readFile(__filename, function(err, data) {
                asyncContents = data;
                console.log("I'm done reading the file asynchronously.");
                console.log('I read ' + asyncContents.length + ' characters.');
              });
              console.log("Now I'm ready to do the next thing.");
            </code></pre>
          </section>
          <section data-markdown>
            ## Why have both?
          </section>
          <section data-markdown>
            ## Why have both?

            You might need it, we haven't.

            * Sometimes simplifies code flow.
            * Useful if you _need_ to stop code from executing until the operation is completed.

          </section>
          <section data-markdown>
            ## One last note.
          </section>
          <section data-markdown>
            ### Don't do complicated stuff in the event looop.

            <pre><code class="javascript">
              var start = Date.now();

              setTimeout(function timeout1() {
                console.log('We started execution ' + (Date.now() - start) + 'ms ago.');

                for (var x = 0; x < 3999999999; x++) {}

                console.log('Done with timeout1().');
              }, 1000);

              setTimeout(function timeout2() {
                console.log('We started execution ' + (Date.now() - start) + 'ms ago.');
                console.log('Done with timeout2().');
              }, 2000);
            </code></pre>
          </section>
          <section data-markdown>
            ## Keep it simple.

            Don't put complicated logic in the main event thread.

            * Long sorts/searches.
            * Long Math (fibbonacci sequence).
            * Processing lots of raw data.
          </section>
          <section data-markdown>
            ### How to get around this problem:

            * Fork process
            * Hand off to other program and listen for event.
            * Write C
            * Use a queue
          </section>
        </section>
        <section data-markdown>
          ## Your first Server.

          ```/hello```

          <pre><code class="javascript">
            var http = require('http');
            http.createServer(function (req, res) {
              res.writeHead(200, {'Content-Type': 'text/plain'});
              res.end('Hello World\n');
            }).listen(1337, '127.0.0.1');
            console.log('Server running at http://127.0.0.1:1337/');
          </code></pre>

          change *1337* to your port number.

        </section>
        <section data-markdown>
          ## Munch on Lunch

          ![lunch](http://weknowmemes.com/wp-content/uploads/2012/07/alpaca-lunch.jpg)
        </section>
        <section>
          <small>A quick intro to Express</small>
          <section data-markdown>
            ### Express

            * A web application framework for node.js
            * Provides:
              * Static asset handling
              * Dynamic router
              * [Connect](http://www.senchalabs.org/connect/) middleware
          </section>
          <section data-markdown>
            ### Getting started

            * Use the ```express``` command to set up some scaffolding for a new application:
            <pre><code class="no-highlight">
              $ express server
              $ cd server
              $ npm install
            </code></pre>
          </section>
          <section data-markdown>
            ### Getting started (cont)

            * We're going to make a few changes to support the application we're going to build:
              1. Copy the config.js file and client directory from your home directory to the example dirctory:
                <pre><code class="no-highlight">
                  $ cp ~/config.js ~/train-node/exercises/server/config.js
                  $ cp -r ~/train-node/client ~/train-node/exercises/server/client
                </code></pre>
              1. Edit app.js to remove some pieces we won't be using, include the config file, change the port we listen on, and change the static assets path: [see the diff](https://gist.github.com/3914051).
          </section>
        </section>
        <section data-markdown>
          ## Integrating with Drupal I
        </section>
        <section>
          <small>Integrating with Drupal I</small>
          <section data-markdown>
            ## What we'll build.

            * We'll ping the node server with with node title
            * We'll create a list of Drupal nodes in our app.

          </section>
          <section data-markdown>
            ### Create the Node.js Endpoint.

            <pre><code class="javascript">
              app.post('/ping', function(request, response){
                console.log(request.body);      // your JSON
                response.send(request.body);    // echo the result back
              });
            </code></pre>

            &nbsp

            ### Bonus

            Save the drupal title in the database.

          </section>
          <section data-markdown>
            ### Create a Drupal module to send the title to node.

            1. Stub drupal module is created already.
            2. We'll put the code that talks to node in a node_view hook.
            3. Hint: we'll use drupal_json_encode() and drupal_http_request()
            4. Be sure to handle errors.
          </section>
          <section data-markdown>
            ### Example Drupal Module code.
            <pre><code class="php">
              $data = array('title' => $node->title);
              $data = drupal_json_encode($data);
              $uri = variable_get('ping_nodejs_uri','http://localhost:3000/ping');

              $options = array();
              $options['headers'] = array('Content-Type' => 'application/json');
              $options['method'] = 'POST';
              $options['data'] = $data;
              $response = drupal_http_request($uri, $options);

              if ($response->code != 200) {
                drupal_set_message("Got an error: " . $response->error, 'error');
              }
              else {
                drupal_set_message('Successfully contacted node server. Response was: ' . $response->data);
              }
            </code></pre>
          </section>
          <section data-markdown>
            ## What's wrong with this approach?
          </section>
          <section data-markdown>
            ## What's wrong with this approach?

            We are slowing down the response on the drupal side by waiting for a response from node.js.

            #### How to Fix?

            1. Add the database call to a queue and use cron to clear it.
            2. Poll Drupal for new content.
          </section>
        </section>
        <section data-markdown>
          ## Integrating with Drupal II
        </section>
        <section>
          <small>Integrating with Drupal II</small>
          <section data-markdown>
            ## Getting a list of Drupal Nodes.

            1. Install and configure Services modules.
            2. Create and theme a route in our app for drupal to ping.
          </section>
          <section data-markdown>
            ## Install and Configure Services module.

            1. It's already there, just enable it.
            2. go to admin/structure/services
            3. configure a rest server with endpoint "rest".
            4. configure the rest server with the node resource.
          </section>
          <section data-markdown>
            ## Create & theme a route to show a list of nodes.

            1. Create a new  Express middleware
            2. Create an endpoint that uses that middleware
            3. Add a template engine to Express.
            4. Create a template for the page of nodes.
          </section>
          <section data-markdown>
            ## Add a new library

            *npm install --save superagent*
          </section>
          <section data-markdown>
            ## Create the Express middleware.

            Create file: */lib/nodes.js

            <pre><code class="javascript">
              var request = require('superagent');

              /**
               * Get Nodes function
               *
               */
              module.exports  = function nodes (url, fn) {
                request.get(url)
                  .end(function (res) {
                    if (res.body) {
                      return fn(null, res.body);
                    }
                  });
              };
            </code></pre>
          </section>
          <section data-markdown>
            ## Add a theming engine

            *npm install --save ejs*

            #### add the themeing engine to our app.
            <pre><code class="javascript">
              //  app.set('port', config.port);
              app.set('view engine', 'ejs');
              app.set('views', __dirname + '/views');
              app.set('view options', { layout: false});
              //  app.use(express.logger('dev'));
            </code></pre>
          </section>
          <section data-markdown>
            ## Create the template

            Create the file */views/nodes.ejs*

            <pre><code class="html">
              < h1 > Nodes < / h1 >
              <% if (results.length) { %>
                <ul>
                 <% for (var i = 0; i < results.length; i++) { %>
                   < li ><%= results[i].title %>< / li >
                 <% } %>
                </ul>
                <% } else { %>
                <p>No results </p>
              <% } %>
            </code></pre>
          </section>
          <section data-markdown>
            ## Add code to the app.

            <pre><code class="javascript">
              app.get('/nodes', function (req, res, next) {
                nodes('http://train-node.local/exercises/drupal/rest/node.json', function (err, nodes) {
                  console.log(nodes);
                  if (err) return next( err);
                  res.render('nodes', { results: nodes });
                });
              });
            </code></pre>
          </section>
        </section>       <section data-markdown>
          ## Socket.io
        </section>
        <section>
          <small>Socket.io </small>
          <section data-markdown>
            ### What is Socket.io

            <blockquote>
              Socket.IO aims to make realtime apps possible in every browser and mobile device, blurring the differences between the different transport mechanisms. It's care-free realtime 100% in JavaScript.
            </blockquote>
          </section>
          <section data-markdown>
            #### Server
            <pre><code class="javascript">
              var io = require('socket.io').listen(80);

              io.sockets.on('connection', function (socket) {
                socket.emit('news', { hello: 'world' });
                socket.on('my other event', function (data) {
                  console.log(data);
                });
              });
            </code></pre>

            #### Client

            <pre><code class="javascript">
              var socket = io.connect('http://localhost');
              socket.on('news', function (data) {
                console.log(data);
                socket.emit('my other event', { my: 'data' });
              });
            </code></pre>
          </section>
          <section data-markdown>
            ### What you'll build

            * A polling loop to grab a list of stories from [http://localhost:3000](http://localhost:3000).
              * The result will be an array of JSON objects. Store this
                in memory so it can be made available to the client.
            * An endpoint for the client to fetch the latest stories (/stories)
          </section>
          <section data-markdown>
            * A [socket.io server](https://github.com/learnboost/socket.io#express-3x).
              The client is currently aware of two events:
                1. refresh - a full list of stories that will replace those displayed
                   on the client page.
                1. newStories - a partial list of new stories, if you choose to use
                   this event you'll need to parse out any new stories from those
                   fetched from the feed.
          </section>
          <section data-markdown>
            ### Bonus challenge!

            1. Store the stories in either MySQL or MongoDB. Use this list to avoid
               creating duplicate content in case the feed re-sends an item or you
               need to restart your node server.
            </section>
        </section>

        <section data-markdown>
          ## Working with Databases
        </section>
        <section>
          <small>Working with databases</small>
          <section data-markdown>
            ### Overview

            * One of the easiest places to see asynchronous programming:
              1. Application makes call to database and immediately returns to the event loop.
              1. Later, database calls back with results.
            * For the more advanced examples in this class you'll be given the opportunity to work with a database, either MySQL or MongoDB.
          </section>
          <section data-markdown>
            ### MySQL

            * [http://www.mysql.com/](http://www.mysql.com/)
            * Relational database system
            * If you're a Drupal developer you're probably pretty familiar with it, but the libraries we'll be using to interact with it aren't as abstracted as DBTNG.
             * i.e. you'll have to write actual SQL queries ಠ_ಠ
          </section>
          <section data-markdown>
            ### Node.js and MySQL

            * We'll be using the [node-mysql](https://github.com/felixge/node-mysql) library.
            * ```$ npm install mysql@2.0.0-alpha3```
            <pre><code class="javascript">
              var mysql = require('mysql');
              var conn = mysql.createConnection({
                host: 'localhost',
                user: 'you',
                password: 'unsafe'
              });
              conn.connect();

              conn.query('SELECT "Hello world" AS message', function(err, rows, fields) {
                if (err) {
                  throw err;
                }

                console.log(rows[0].message);
              });
              conn.end();
            </code></pre>
          </section>
          <section data-markdown>
            ### MongoDB

            * [http://www.mongodb.org/](http://www.mongodb.org/)
            * Schemaless document store
            * Documents are stored as BSON which is very similar to JSON and therefore extremely convenient to work with in node.js!
          </section>
          <section data-markdown>
            ### MongoDB Examples

            * There's not a real query language in the same sense as MySQL and since the database is schemaless you can throw whatever you like at it:

              ```$ mongo```
            <pre><code class="javascript">
              db.test.insert({
                title: 'test',
                message: 'Hello world'
              });
              db.test.find({ title: 'test' }).pretty();
              db.test.update(
                { title: 'test' },
                { $set: { message: 'Yo dawg' } }
              );
              db.test.find({ title: 'test' }).pretty();
            </code></pre>
          </section>
          <section data-markdown>
            ### Sub documents

            * One of the most useful parts of MongoDB is the ability to store "sub documents" or objects within a primary document:

            <pre><code class="javascript">
              db.test.update(
                { title: 'test'},
                { $set: {
                  speaker: {
                    name: 'Elliott Foster',
                    occupation: 'Hipster Technologist',
                    interests: [
                      'JavaScript',
                      'beer',
                      'bicycles'
                    ]
                  }
                } }
              );
              db.test.find({ 'speaker.name': 'Elliott Foster' }).pretty();
            </code></pre>
          </section>
          <section data-markdown>
            ![mind blown](http://i.minus.com/iDaEYSlzALNnN.gif)
          </section>
          <section data-markdown>
            ### Node.js and MongoDB

            * We'll be using the [mongode](https://github.com/milewise/mongode) library to interact with MongoDB
            <pre><code class="javascript">
              var mongode = require('mongode');
              var test = mongode.connect('mongo://127.0.0.1/test');
              var collection = test.collection('test');
              var doc = { title: 'test2', message: 'node and mongo, yay!' };
              collection.insert(doc, {safe:true}, function(err, objects) {
                if (err) {
                  console.error(err.message);
                  process.exit(1);
                }
                collection.findOne({ title: 'test2' }, function(err, document) {
                  if (err) {
                    console.error(err.message);
                    process.exit(1);
                  }
                  console.log(document.message);
                  process.exit(0);
                });
              });
            </code></pre>
          </section>
        </section>
      </div>

      <!-- The navigational controls UI -->
      <aside class="controls">
        <a class="left" href="#">&#x25C4;</a>
        <a class="right" href="#">&#x25BA;</a>
        <a class="up" href="#">&#x25B2;</a>
        <a class="down" href="#">&#x25BC;</a>
      </aside>

      <!-- Presentation progress bar -->
      <div class="progress"><span></span></div>
      
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>
      
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        
        theme: Reveal.getQueryHash().theme || 'default', // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/linear(2d)

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/highlight.js', async: true, callback: function() { window.hljs.initHighlightingOnLoad(); } },
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'lib/js/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'lib/js/data-markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/socket.io/socket.io.js', async: true, condition: function() { return window.location.host === 'localhost:1947'; } },
          { src: 'plugin/speakernotes/client.js', async: true, condition: function() { return window.location.host === 'localhost:1947'; } },
        ]
      });
      
    </script>

  </body>
</html>
