# Ignore configuration files that may contain sensitive information.
# For training wheels, don't ignore the settings file.
#sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
